<!DOCTYPE html>
<html>
<head>
    <title>Página de Entrada</title>
</head>
<body>
    <h1>Bem-vindo ao Banco de Dados de Compostos</h1>
    <div>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Compostos</a>
        <a href="{{ url_for('matrixes') }}" class="btn btn-primary">Matrizes</a>
        <a href="{{ url_for('name') }}" class="btn btn-primary">Autores</a>
        <a href="{{ url_for('identification') }}" class="btn btn-primary">Identificação</a>
    </div>
</body>
</html>
